In [42]:
from Graphs import Pareto,barra_stackeada,Box_Plot

In [4]:
from bokeh.plotting import show

In [8]:
import pandas as pd

In [5]:
#Pareto(DATA_FRAME,column_index,column_values,color="#9B59B6")

In [20]:
data_frame=pd.DataFrame({
    'Products':['Orange','Orange','Orange','Aple','Aple','Banana','Banana','Banana','Banana','Aple'],
    'Profit':[100,200,300,800,300,100,200,300,400,300],
    'Seller':['Fernando','Saul','Fernando','Saul','Fernando','Saul','Fernando','Saul','Fernando','Saul']
})

In [48]:

dataframe_pareto=data_frame.groupby(['Products','Seller'])['Profit'].sum().reset_index()
data_frame

  Products  Profit    Seller
0   Orange     100  Fernando
1   Orange     200      Saul
2   Orange     300  Fernando
3     Aple     800      Saul
4     Aple     300  Fernando
5   Banana     100      Saul
6   Banana     200  Fernando
7   Banana     300      Saul
8   Banana     400  Fernando
9     Aple     300      Saul

In [23]:
pareto=Pareto(dataframe_pareto,'Products','Profit',color="#9B59B6")

In [24]:
show(pareto)

In [40]:
"""def barra_stackeada(DATA_FRAME,column_index,column_columns,column_values,color_list=[
            '#922B21','#B03A2E','#76448A','#6C3483',
            '#1F618D','#2874A6','#117864','#0B5345',
            '#196F3D','#7D6608','#6E2C00','#F5CBA7',
            '#85C1E9'
            ]):"""
stackbarr=barra_stackeada(dataframe_pareto,'Seller','Products','Profit',color_list=[
            '#922B21','#196F3D','#117864'])

In [41]:
show(stackbarr)

In [43]:
"""
3.- def Box_Plot(DATA_FRAME,column_index,column_values,type=1,color_list=Dark2[7])
Functionality:Return a object type bokeh.plotting.figure.Figure,
with this object you can show in the html page, or extract the sources, and components(
script,div,js_components,css_components) for render in a web page.
Arguments: For this function works, you need the following:

3.0 dataframe,this dataframe need to content 2 columns or 1 column, a main column with strings, a second column
    with values.
3.1 column_index: this is a main column than have strings, only strings
3.2 column_values: this is a column than have values, for make calcules
3.3 color_list: it need a color list for the stackbars, you concidere the same number of 
    colors than have the numer of unique elements of column_columns,this color is in HEXADECIMAL format,
    if you column_columns have 13 unique elements, you can use default list, but if is diferent,
    you need to define your own list.
"""

'\n3.- def Box_Plot(DATA_FRAME,column_index,column_values,type=1,color_list=Dark2[7])\nFunctionality:Return a object type bokeh.plotting.figure.Figure,\nwith this object you can show in the html page, or extract the sources, and components(\nscript,div,js_components,css_components) for render in a web page.\nArguments: For this function works, you need the following:\n\n3.0 dataframe,this dataframe need to content 2 columns or 1 column, a main column with strings, a second column\n    with values.\n3.1 column_index: this is a main column than have strings, only strings\n3.2 column_values: this is a column than have values, for make calcules\n3.3 color_list: it need a color list for the stackbars, you concidere the same number of \n    colors than have the numer of unique elements of column_columns,this color is in HEXADECIMAL format,\n    if you column_columns have 13 unique elements, you can use default list, but if is diferent,\n    you need to define your own list.\n'

In [46]:
#3.- def Box_Plot(DATA_FRAME,column_index,column_values,color_list=Dark2[7])
boxplot=Box_Plot(data_frame,'Seller','Profit')

In [47]:
show(boxplot)